*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Estilos básicos */
body {
    font-family: 'Verdana', 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    background: url('/imgs/fundo.gif') no-repeat;
    background-size: cover;
}

/* Container principal */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffffdf;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Botão Voltar */
.Btn-Volta {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 15px;
    background-color: #b114ff;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin-bottom: 20px;
}

.Btn-Volta:hover {
    transform: scale(1.2);
    background-color: #d70dd0;
}

/* Títulos */
h1 {
    text-align: center;
    color: #555;
    margin-bottom: 20px;
}

.faq h2 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 5px;
}

/* Texto das perguntas */
.faq p {
    margin: 0 0 20px 0;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #fff;

  }

   footer a {
    text-decoration: none;
    color: #fff;
  }
  footer a:hover {
    color: #FF0000;
  }
  footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #fff;
    padding: 10px;
  }

   footer a {
    text-decoration: none;
    color: #fff;
  }
  footer a:hover {
    color: #FF0000;
  }

/* Responsividade */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    .container {
        margin: 10px;
        padding: 15px;
    }

    .Btn-Volta {
        font-size: 14px;
        padding: 8px 16px;
    }

    h1 {
        font-size: 1.5rem;
    }

    .faq h2 {
        font-size: 1rem;
    }

    .faq p {
        font-size: 0.9rem;
    }


    footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #fff;
    padding: 10px;
  }

   footer a {
    text-decoration: none;
    color: #fff;
  }
  footer a:hover {
    color: #FF0000;
  }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.2rem;
    }

    .Btn-Volta {
        font-size: 12px;
        padding: 6px 12px;
    }

    .faq h2 {
        font-size: 0.9rem;
    }

    .faq p {
        font-size: 0.8rem;
    }


}
