
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Estilo global */
body {
    font-family: 'Verdana','Arial', sans-serif;
    background: url('/imgs/fundo.gif') no-repeat ;
    background-size: cover;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction:column;
    background-color: #6303b0;
}
li{
  text-align: left;
  list-style-type: square;
  margin-left: 5px;
}

.Apoie{
  text-align: center;
  margin: 10px;
  color: #fff;
}
.Apoie p{
padding: 20px;
}
.btn {
    padding: 10px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 10px;
    background-color: #b114ff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    
}

/* Quadrado centralizado */
.center-box {
    background-color: #ffffffdf;
    border-radius: 15px;
    padding: 20px 30px;
    width: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.img-felix{ 
    animation: anim 5s infinite;
    
}
/* Cabeçalho */
header h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #b114ff; 
}

header p {
    font-size: 1rem;
    color: #555;
}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

form input {
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #b114ff;
    border-radius: 10px;
    outline: none;
}

form button {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    background-color: #b114ff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background-color: #d70dd0;
}

/* Resultados */
.result {
    margin-top: 20px;
    font-size: 1rem;
    color: #555;
}

.result h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.result .error {
    color: #d9534f;
    font-weight: bold;
}
  footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #fff;
    padding: 10px;
  }

   footer a {
    text-decoration: none;
    color: #fff;
  }
  footer a:hover {
    color: #FF0000;
  }
  .video-container {
    position: relative;
    width: 360px;
    height: 640px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;
}
.tutorial{
  color: #fff;
  text-align: center;
  align-items: center;
}
.tutorial p{
 padding-bottom: 15px;
}
/* Miniatura do vídeo */
.video-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Botão de play */
.play-button {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.play-button:hover {
    background: rgba(0, 0, 0, 0.9);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6203b0ac;
    padding: 10px 20px;
    margin-top: 10px;
    border: #b114ff solid 1px;
    border-radius: 15px;
}

.navbar .logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.navbar .menu-toggle {
    display: none;
    cursor: pointer;
}

.navbar .menu-toggle .bar {
    width: 25px;
    height: 3px;
    color: #fff;
    margin: 5px 0;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin: 0 15px;
    color: #000;
    list-style-type: none;
}

.nav-list li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
.nav-list li a:hover {
    Color: #b114ff;
}
@keyframes anim {
   
    20% {
      transform: rotate(-10deg);
    }
    40% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(-10deg);
    }
    80% {
      transform: rotate(10deg);
    }
   
  }

@media (max-width: 768px) {
    .center-box {
        padding: 15px;
    }
    header h1 {
        font-size: 1.5rem;
    }
    form button {
        font-size: 0.9rem;
    }
    .center-box {
        width: 90%;
    }
    .ad-description {
        height: 16vh;
    }
    li {
        margin-left: 10px;
    }
    body {
        background-size: 100vw 100vh;
    }
    @media screen and (max-width: 768px) {
        .nav-list {
            display: none;
           
            flex-direction: column;
            width: 100%;
            height: 210px;
            background-color: #6203b0ac;
            padding: 10px;
        }
    
        .nav-list.active {
            display: flex;
        }
    
        .nav-list li {
            margin: 10px 0;
            text-align: center;
        }
    
        .navbar .menu-toggle {
            display: block;
            
        }
        .navbar{
            flex-direction: column;
        }
    }
}

@media (max-width: 480px) {
    .video-container {
        width: 100%;
        height: auto;
        aspect-ratio: 9 / 16; /* Mantém o formato Shorts */
    }
   
}
